<div>
	<%= link_to 'Home', home_path %>&nbsp;&nbsp;~&nbsp;&nbsp;
	<%= link_to 'About Us', about_path %>&nbsp;&nbsp;~&nbsp;&nbsp;
	<%= link_to 'Contact Us', contact_path %>&nbsp;&nbsp;~&nbsp;&nbsp;
	<%= link_to 'Privacy Policy', privacy_path %>
	<br /><br />
	<div id="copy">
		Webmaster: <%= mail_to("ltsang@andrew.cmu.edu", "Lawrence Tsang", :encode => "javascript") %> 
		~&nbsp;Copyright 2013
	</div>
	<p></p>
</div>