<!DOCTYPE html>
<html>
<head>
  <title>A &amp; M Karate Tournament System</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- NOTE: assumes bootstrap grid system -->
  <div class="wrapper">
    <!-- NAV BAR -->
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href=/home>A&M Karate Tournament System</a>
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse collapse">
          <!-- .nav, .navbar-search, .navbar-form, etc -->
            <ul class="nav">
              <li><%= link_to "Students", students_path %></li>
              <li><%= link_to "Sections", sections_path %></li>
              <li><%= link_to "Events", events_path %></li>
              <li><%= link_to "Dojos", dojos_path %></li>
              <li><%= link_to "Tournaments", tournaments_path %></li>
            </ul>
            <ul class="nav pull-right">
              <% if logged_in? %>
                <li><%= link_to 'Logout', logout_path %></li>
                <li><%= link_to '|', nil %></li>
                <li><%= link_to 'Profile', profile_path(current_user.id) %></li>
              <% else %>
                <li><%= link_to 'Login', login_path %></li>
                <li><%= link_to '|', nil %></li>
                <li><%= link_to 'Register', signup_path %></li>
              <% end %> 
            </ul>
          </div>  
        </div>
      </div>
    </div>
    </div>
    <div class="container">
    </div>
  	<!-- MAIN CONTENT -->
  	<div class="container">
  		<div class="row">
  			<!-- main content placed here -->
  			<div class="span12">
          <% flash.each do |name, msg| %>
            <div class="alert alert-<%= :notice ? "success" : "error" %>">
              <a class="close" data-dismiss="alert">x</a>
              <%= msg %>
             </div> 
          <% end %>
  			  <div id="main_content">
  			   <%= yield %>
  			  </div>
  			</div>
  		</div>
  	</div>
  </div>
	
	<!-- FOOTER -->
	<footer id="footer">
    <div class="container">
      <%= render :partial => "partials/footer" %>   
    </div>
  </footer>
</body>
</html>
